.time{
    text-align: right;
}
#question {
    font-family: "monospace";
    text-align: center;
    font-size: 35px;
    color: #2b196b;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.btn {
    background-color: #01BBFF;
    width: 75%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px;
}
.choiceBtns{
    text-align: center;

}
/*.question-container{

}