body{
    background-color: rgb(220, 228, 253);
}
.container{
    background-color: azure;
}
.time{
    text-align: right;
}
#question {
    font-family: "monospace";
    text-align: center;
    font-size: 35px;
    color: #2b196b;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.option{
    background-color: #01BBFF;
    width: 80%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px;
}
#submit {
    background-color: #01BBFF;
    width: 15%;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px;
}
#startBtn {
    background-color: #01BBFF;
    width: 25%;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px;
}
.choiceBtns{
    text-align: center;
}
